body {
    text-align: center;
    background-color: beige;
}

#tableDiv {
    visibility: hidden;
}

h1 {
    width: 50%;
    margin-left: 25%;
}

.mainPage {
    border: solid;
    border-color: black;
    border-radius: 5px;
    background-color: maroon;
    padding: 2%;
    color: rgb(49, 190, 255);
}

th {
    color: rgb(49, 190, 255);
}

th, td {
    width: 350px;
}

#startBtn {
    margin: 2%;
    background-color: greenyellow;
    height: 5%;
    width: 10%;
}